.popupDetailsDossierMainContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fafcff;
  z-index: 2;
}

.popupDetailsDossierMainContainer p:nth-child(1) {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 20px;
}

.popupDetailsDossierMainContainer form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.popupDetailsDossierMainContainer form label {
  width: 80%;
}

.popupDetailsDossierSelectContainer {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(203, 228, 255, 0.2);
  padding: 20px;
  display: block;
}

.popupDetailsDossierSelectContainer select {
  background-color: #e7f0ff;
  color: #b5d6ff;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
  font-size: 1.2rem;
  font-weight: 700;
}

.popupDetailsDossierSelectContainer button {
  background-color: #e7f0ff;
  color: #b5d6ff;
  border-radius: 20px;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px;
}

.popupDetailsDossierDocumentsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px 0px;
  justify-content: flex-start;
  align-self: flex-start;
  width: 90%;
  margin: 20px auto;
}

.popupDetailsDossierDocumentsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 175px;
  max-width: 175px;
  height: 115px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(203, 228, 255, 0.4);
  margin-right: 20px;
  margin-top: 20px 0px;
}

.popupDetailsDossierDocumentsCard p {
  font-weight: 700;
  color: "#1C2A4B";
}

.popupDetailsDossierDocumentsCard button {
  padding: 2px 10px;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #c6253d;
  border-radius: 30px;
  border: none;
}
