.membresMainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #ecf5ff 0%,
    rgba(236, 245, 255, 0.3) 38.3%,
    rgba(236, 245, 255, 0) 100%
  );
}

.prieresTop {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20vh;
  background-color: #c6253d;
  align-items: center;
  justify-content: space-around;
}

.prieresTopIcon {
  width: 330px;
  height: 20vh;
  background-image: url("../../img/icon-gg-dashboard.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 20%;
}

.prieresTopTitle {
  font-size: 1.6rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 8px;
}

.prieresBottom {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
}

.etudesSlideContainer {
  width: 50%;
  height: 40px;
  border-radius: 30px;
  background-color: white;
  z-index: 2;
  padding: 2px;
  position: relative;
}

.etudesSlider {
  width: 50%;
  height: 33px;
  background-color: #c6253d;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
}

.gg-selected,
.mini-gg-selected {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.gg-selected {
  left: 3px;
}
.mini-gg-selected {
  right: 3px;
}

.prieresBottom .title {
  font-weight: 700;
  font-size: 1.2rem;
}

.btnAddGeneralStudy {
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  background-color: #c6253d;
  color: white;
  margin: 10px 0px;
  box-shadow: 0px 0px 10px 0px rgba(198, 37, 61, 0.4);
}

.prieresCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  margin-bottom: 70px;
}

.prieresCard {
  width: 90%;
  height: 135px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 30px 0px rgba(203, 228, 255, 0.6);
  border: none;
  font-size: 1.4rem;
  color: #252525;
  font-weight: 700;
  position: relative;
  font-size: 1.2rem;
  overflow: hidden;
  z-index: 2;
}

.prieresNameAndArrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 20px;
  position: relative;
}

.prieresDescription {
  position: absolute;
  width: 80%;
  height: 55%;
  top: 40px;
  left: 20px;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: justify;
  overflow-y: scroll;
}

.prieresCardMainContainer {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.positionCenter {
  justify-content: start;
}

.positionLeft {
  justify-content: center;
}

.prieresCardContainerCTA {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  width: 50%;
  height: 80%;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px 0px rgba(203, 228, 255, 0.6);
  position: absolute;
  right: 0;
  padding-right: 6px;
}

.prieresCTA {
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 5px;
  color: white;
}

.prieresArrows {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 60px;
}

.arrowLeft {
  transform: scale(-1, 1);
}
